markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.13"
pygments==2.17.0 ; python_version >= "3.12" and python_version < "3.13"
rich==13.7.0 ; python_version >= "3.12" and python_version < "3.13"
